@{
    ViewData["Title"] = "Voting App";
}

<div ng-controller="VotingAppController" ng-init="refresh()">
    <div class="container-fluid">

        <h1>Votes</h1>

        <div class="row">
            <div class="col-md-6">
                <form>
                    <div class="form-group col-md-8">
                        <input id="txtAdd" type="text" class="form-control" placeholder="Vote for..." ng-model="item" />
                    </div>
                    <div class="col-md-4">
                        <button id="btnAdd" class="btn btn-default" ng-click="add(item)">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            Add
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <tbody>
                        <tr ng-repeat="vote in votes.data">
                            <td class="col-md-8">
                                <button class="btn btn-success text-left btn-block" ng-click="add(vote.key)" >
                                    <span class="pull-left">
                                    {{vote.key}}
                                    </span>
                                    <span class="badge pull-right">
                                        {{vote.value}} Votes
                                    </span>
                                </button>
                            </td>
                            <td class="col-md-4">
                                <button class="btn btn-danger pull-right" ng-click="remove(vote.key)">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    Remove
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>